@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }

    ::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
      height: 8px; /* Height of the scrollbar */
    }

    ::-webkit-scrollbar-track {
      @apply bg-gray-200; /* Background color of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-[#9f9d9d] rounded-full; /* Scrollbar thumb styling */
    }

    ::-webkit-scrollbar-thumb:hover {
      @apply bg-[#807e7e]; /* Hover effect on the scrollbar thumb */
    }
  }
}

.bg-gradient {
  background: linear-gradient(50deg, #141414 50%, #1e1e1e 85%, #282828 100%);
}
